<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="dbTS15Entities" connectionString="metadata=res://*/Generated.ProtocoloPruebas.csdl|res://*/Generated.ProtocoloPruebas.ssdl|res://*/Generated.ProtocoloPruebas.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WSBEXT45\MSSQL2008;initial catalog=dbTS15;persist security info=True;user id=usrProtocolo;password=usrProtocolo*2014;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <assemblies>
    <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  </assemblies>
</configuration>