<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="dbTS15Entities" connectionString="metadata=res://*/Generated.DMProtocolo.csdl|res://*/Generated.DMProtocolo.ssdl|res://*/Generated.DMProtocolo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BEXT45\MSSQLSERVER2;initial catalog=dbTS15;persist security info=True;user id=usrTransformador;password=1q2w3e$r;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <assemblies>
    <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </assemblies>
</configuration>