<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <clear />
    <!--<add name="dbTS15Entities" connectionString="metadata=res://*/Generated.DMProtocolo.csdl|res://*/Generated.DMProtocolo.ssdl|res://*/Generated.DMProtocolo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=dbTS15_2;persist security info=True;user id=william_cuadros;password=1q2w3e4r;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="dbTS15Entities" connectionString="metadata=res://*/Generated.DMProtocolo.csdl|res://*/Generated.DMProtocolo.ssdl|res://*/Generated.DMProtocolo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BEXT45\MSSQLSERVER2;initial catalog=dbTS15;persist security info=True;user id=usrdbts15;password=usrdbts15*2015;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="MembershipConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=BEXT45\MSSQLSERVER2;Initial Catalog=dbTS15;User ID=usrdbts15;Password=usrdbts15*2015;Connect Timeout=120"/>-->

    <add name="dbTS15Entities" connectionString="metadata=res://*/Generated.DMProtocolo.csdl|res://*/Generated.DMProtocolo.ssdl|res://*/Generated.DMProtocolo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQLDes1.cloudapp.net;initial catalog=dbTS15;persist security info=True;user id=usrdbts15;password=usrdbts15*2015;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MembershipConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=SQLDes1.cloudapp.net;Initial Catalog=dbTS15;User ID=usrdbts15;Password=usrdbts15*2015;Connect Timeout=120"/>

  </connectionStrings>
  <appSettings>
    <add key="CryptoKey" value="%#@?,llave"/>
    <add key="RutaServidor" value="~/APP/Systems/Finca/Updates"/>
    <add key="DefaultImage" value="not_found.png"/>
    <add key="ImageFileValidExtensions" value=".jpg,.jpeg,.png,.bmp,.gif,.jpg2"></add>
    <add key="AdministradorSistema" value="Administrador Sistema"></add>
    <add key="Cliente" value="Cliente"></add>
    <add key="ResponsableBodega" value="Responsable Protocolo"></add>
    <add key="ResponsableCliente" value="Responsable Cliente"></add>
    <add key="ResponsableProtocolo" value="Responsable Protocolo"></add>
    <add key="ResponsableTransformador" value="Responsable Transformador"></add>
    <add key="Usuario" value="Usuario"></add>
  </appSettings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0" >
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <membership defaultProvider="AspNetSqlMembershipProvider" userIsOnlineTimeWindow="15" hashAlgorithmType="">
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="MembershipConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <siteMap defaultProvider="AspNetXmlSiteMapProvider" enabled="true">
      <providers>
        <clear/>
        <add name="AspNetXmlSiteMapProvider" type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" siteMapFile="web.sitemap" securityTrimmingEnabled="true"/>
        <add name="AspNetXmlSystemsProvider" type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" siteMapFile="Systems.sitemap" securityTrimmingEnabled="false"/>
      </providers>
    </siteMap>
    <roleManager enabled="true">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" applicationName="/" connectionStringName="MembershipConnectionString" type="System.Web.Security.SqlRoleProvider"/>
      </providers>
    </roleManager>
    <authentication mode="Forms">
      <forms loginUrl="~/APP/Autenticacion/Index.aspx"/>
    </authentication>
    <!--Configura el Idioma por defecto de la aplicacion-->
    <globalization uiCulture="es-CO" culture="es-CO"/>
    <httpModules>
      <!--<add name="CryptoQueryStringUrlRemapper" type="CaficultorFiel.UI.APP.Utilidades.CryptoQueryStringUrlRemapper"/>-->
    </httpModules>
    <webServices>
      <protocols>
        <add name="HttpSoap"/>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
        <add name="Documentation"/>
        <add name="HttpPostLocalhost"/>
      </protocols>
    </webServices>
  </system.web>
</configuration>
