<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://protocolotrfs15.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>protocolotrfs15.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>protocolotrfs15</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$protocolotrfs15</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MembershipConnectionString" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=mvsql2012std.cloudapp.net;Initial Catalog=dbTS15;User ID=usrtest;Password=usrtest*2015;Connect Timeout=120" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MembershipConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=mvsql2012std.cloudapp.net;Initial Catalog=dbTS15;User ID=usrtest;Password=usrtest*2015;Connect Timeout=120" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="dbTS15Entities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=mvsql2012std.cloudapp.net;Initial Catalog=dbTS15;Persist Security Info=True;User ID=usrtest;Password=usrtest*2015;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\dbTS15Entities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Generated.DMProtocolo.csdl|res://*/Generated.DMProtocolo.ssdl|res://*/Generated.DMProtocolo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mvsql2012std.cloudapp.net;initial catalog=dbTS15;persist security info=True;user id=usrtest;password=usrtest*2015;multipleactiveresultsets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)dbTS15Entities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MembershipConnectionString-Web.config Connection String" />
  </ItemGroup>
</Project>